---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header class="full-bleed">
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header {
    background-color: white;
  }
</style>

<script>
	import "../scripts/menu.js";
</script>